@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body{
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

.section-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
}
